.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.main {
    margin-top: 2rem;
}

.carousel-caption {
    padding: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(32, 124, 4, 0.5);
    color: white;
    font-size: 1.5rem;
    text-align: center;

}

.btn{
    background-color: rgba(32, 124, 4, 0.5);
    color: rgb(0, 0, 0);
    border: none;
}

.btn:hover {
    background-color: rgba(32, 124, 4, 0.5);
    color: rgb(0, 0, 0);
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}

footer{
    background-color: rgba(32, 124, 4, 0.5);

}