/* Estilo dos filtros laterais */
aside {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

/* Estilo para o formulário de filtros */
form {
    margin-bottom: 20px;
}

/* Ajuste de altura das imagens dos produtos */
.card-img-top {
    height: 300px;
    object-fit: cover;
}

/* Espaçamento entre cartões de produtos */
.card-body {
    padding: 1.25rem;
}

/* Espaçamento das colunas */
.col-md-4 {
    margin-bottom: 20px;
}

.btn{
    background-color: rgba(32, 124, 4, 0.5);
    color: rgb(0, 0, 0);
    border: none;
}

.btn:hover {
    background-color: rgba(32, 124, 4, 0.5);
    color: rgb(0, 0, 0);
}
